
  
  .app-inner{
    padding: 2% 3%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 25px;
  }
  
  .app-inner > p{
    font-size: 16px;
    font-weight: 700;
    padding: 1% 1.5%;
    border-radius: 10px;
    background-color: rgb(218, 218, 218);
  }
  
  .scan-input-main{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  .scan-input{
    padding: 10px;
    font-size: 16px;
    pointer-events: none;
  }
  .scan-input-send-button-main{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    
  }
  .scan-input-send-button{
    border-radius: 5px;
    padding: 10px;
    min-width: 150px;
    border: none;
    background-color: #0284c7;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
  }
  .scan-input-reset-button{
    border-radius: 5px;
    padding: 10px;
    min-width: 150px;
    border: none;
    background-color: #646464;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
  }